@charset "UTF-8";
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800: Desktop (current)
1800+: Big desktop  

ORDER: base + typography > general layout > page layout > components
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Chuyển đổi px sang rem
    mà rem thì thay đổi theo font-size của thẻ root (ở đây chính là thẻ html) */
html {
  /* Mặc định các trình duyệt là 16px nên 62.5% = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* Nghĩa là line height gấp 1.7 lần line height mặc định */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  margin-bottom: 3rem;
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* ease-in: vào chậm ra nhanh, ease-out thì ngược lại */
    animation-timing-function: ease-in;
    -webkit-animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    /*
      // Số lần animation lặp lại 
        animation-iteration-count: 2;
      // Sau 2s thì animation mới thực hiện
        animation-delay: 2s;
   */
    /* Làm tránh những animation lỗi tự phát sinh ko mong muốn hiển thị đến người dùng */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1.5rem; } }
    .heading-primary--main-grey {
      font-size: 4rem;
      letter-spacing: 1.8rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;
    animation: moveInRight 1s ease-in;
    -webkit-animation: moveInRight 1s ease-in; }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 1.8rem;
        letter-spacing: 1rem; } }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 1.4rem;
        letter-spacing: 1rem; } }
    .heading-primary--sub-grey {
      letter-spacing: 0.1rem; }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    cursor: default;
    transform: scale(1.1);
    text-shadow: 0.2rem 2rem 1rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
  word-spacing: 0.2rem; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-right-text {
  text-align: right !important; }

.u-mb-s {
  margin-bottom: 2rem !important; }

.u-mb-m {
  margin-bottom: 3rem !important; }

.u-mb-l {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-mb-l {
      margin-bottom: 4rem !important; } }

.u-mt-l {
  margin-bottom: 8rem !important; }

.u-bold-text {
  font-weight: 900 !important; }

.u-padding-3 {
  padding: 3rem; }

@media (max-width: 56.25em) {
  .u-w-s {
    max-width: 90rem !important; } }

@media (max-width: 37.5em) {
  .u-w-s {
    max-width: 100rem !important; } }

/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800: Desktop (current)
1800+: Big desktop  

ORDER: base + typography > general layout > page layout > components
*/
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 15rem 0 22rem; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 20rem 0 22rem; } }

.section-features {
  margin-top: -8rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 12rem 0; } }

.section-tours {
  margin-top: -8rem;
  padding: 25rem 0 1rem;
  background-color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 18rem 0 1rem; } }

.section-stories {
  position: relative;
  padding: 10rem 0; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 8rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 8rem 0; } }
  .section-book .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: cover;
    box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.4); }
    .section-book .book__form {
      padding: 6rem;
      width: 50%; }
    @media (max-width: 37.5em) {
      .section-book .book {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8) 100%, transparent 50%), url(../img/nat-10.jpg);
        background-size: cover;
        box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.4); }
        .section-book .book__form {
          text-align: center;
          padding: 6rem;
          width: 100%; } }

.body-hidden {
  overflow: hidden; }

.container {
  height: 100vh;
  width: 100%; }
  @media (max-width: 56.25em) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center; } }
  .container .content {
    text-align: center; }
    .container .content__icon {
      color: red; }
    .container .content__img {
      margin-left: 8rem;
      height: 35rem;
      animation-name: fadeIn;
      animation-duration: 1.2s;
      animation-timing-function: ease-in;
      animation-delay: 1s;
      animation-fill-mode: backwards; }
      @media (max-width: 56.25em) {
        .container .content__img {
          margin-left: 0; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    display: block;
    content: '';
    clear: both; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  @media (max-width: 37.5em) {
    .row {
      padding: 0 3rem; } }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  height: 7rem;
  width: 7rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 2000; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 1.5rem;
      right: 2.5rem; } }

.navigation__background {
  position: fixed;
  top: 6rem;
  right: 6rem;
  height: 6rem;
  width: 6rem;
  background-image: radial-gradient(#55c57a, #28b485);
  border-radius: 50%;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 2rem;
      right: 3rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: -10%;
  opacity: 0;
  z-index: 1600;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  font-size: 3rem;
  text-align: center; }

.navigation__item:not(:last-child) {
  margin-bottom: 2.5rem; }

.navigation__link {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link span {
    margin-right: 1.2rem; }

.navigation__link:hover {
  background-position: 100%;
  color: #28b485;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  left: 0;
  width: 100%; }

.navigation__icon {
  position: relative;
  top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    height: 2px;
    width: 3rem;
    background-color: #333;
    transition: all 0.2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.header {
  height: 95vh;
  position: relative;
  /* Màu gradient đổ dần từ left-top xuống right-bottom */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* Nghĩa là khi ảnh bị kéo thu nhỏ thì top giữ nguyên ko đổi
            nhưng phần bottom và center sẽ bị crop theo */
  background-position: top;
  /* Cắt hình theo tọa độ x y, lấy tọa độ (0,0) nằm ở góc trái màn hình */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    height: 3.5rem;
    transition: all 0.4s; }
  .header__logo:hover {
    cursor: pointer;
    transform: translateY(-0.8rem) rotateY(20deg); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #c7c7c7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    height: 12rem;
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 4rem; } }
    @media (max-width: 37.5em) {
      .footer__logo-box {
        margin-bottom: -2rem; } }
  .footer__navigation, .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 1.5rem; }
  .footer__navigation {
    width: 87%; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%; } }
  .footer__copyright {
    width: 80%;
    float: right;
    text-align: center; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%; } }
  .footer__list {
    list-style-type: none;
    text-align: center; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1rem; }
  .footer__link {
    display: inline-block;
    padding: 0.2rem 0.1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
    color: #c7c7c7;
    transition: all 0.2s; }
  .footer__link:hover {
    transform: translateY(-3px) scale(1.15) rotate(5deg);
    box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.2);
    color: #55c57a; }
  .footer__logo {
    height: 100%;
    object-fit: cover; }
    @media (max-width: 37.5em) {
      .footer__logo {
        height: 45%; } }

.btn {
  /* Làm hiệu ứng lên xuống khi hover và active trên btn */
  /* Hành động active này liên quan tới init state chứ ko dính tới hover */ }
  .btn, .btn:link, .btn:visited {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 10rem;
    transition: all 0.2s;
    border: none;
    cursor: pointer; }
  .btn::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    transition: all 0.4s; }
  .btn--white {
    background-color: #fff;
    color: #777;
    padding: 1.6rem 2.8rem;
    font-weight: 500; }
    .btn--white::after {
      background-color: #fff; }
    .btn--white:focus {
      outline: none;
      box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.15); }
  .btn--green {
    padding: 1.5rem 4rem;
    background-color: #55c57a;
    color: #fff; }
    .btn--green::after {
      background-color: #55c57a; }
    .btn--green:focus {
      outline: none;
      box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.15); }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--animated {
    -webkit-animation: moveInBottom 0.8s ease-out 0.7s;
    animation: moveInBottom 0.8s ease-out 0.7s;
    /* Hiểu là tất cả các thuộc tính của animation vẫn được apply trong thời gian delay */
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.btn-text, .btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.4rem 0.4rem;
  border-bottom: 1.5px solid #55c57a;
  color: #55c57a;
  transition: all 0.2s; }

.btn-text:hover {
  cursor: pointer;
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-text:focus {
  outline-color: #55c57a; }

.composition {
  position: relative; }
  @media (max-width: 56.25em) {
    .composition {
      top: 2.5rem;
      left: 0; }
      .composition::after {
        display: block;
        content: '';
        clear: both; } }
  .composition__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s; }
    @media (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        float: left;
        width: 33.333333%; } }
    .composition__photo--1 {
      top: -4rem;
      left: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--1 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo--2 {
      top: 0;
      left: 20rem; }
      @media (max-width: 56.25em) {
        .composition__photo--2 {
          top: -1rem;
          left: 0;
          z-index: 100;
          transform: scale(1.3); } }
    .composition__photo--3 {
      top: 8rem;
      left: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      z-index: 2;
      transform: scale(1.2) translateY(-3px);
      padding: 1rem;
      border: 1rem solid #55c57a;
      border-radius: 2rem;
      cursor: pointer; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  .feature-box__icon {
    display: inline-block;
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right top, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    cursor: default;
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  position: relative;
  height: 52rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  -o-perspective: 150rem;
  -ms-perspective: 150rem; }
  .card__side {
    position: absolute;
    overflow: hidden;
    height: 52rem;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 1s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    width: 100%;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    width: 75%;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase; }
  .card__heading-span {
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
  .card__detail {
    padding: 3rem; }
    .card__detail ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto;
      text-align: center; }
      .card__detail ul li {
        font-size: 1.5rem;
        padding: 1rem; }
        .card__detail ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    text-align: center;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        position: relative;
        height: auto;
        box-shadow: none;
        font-size: 1.6rem;
        transition: all 1s ease; }
        .card__side--back {
          transform: rotateY(0deg);
          padding: 3rem;
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
      .card__heading {
        width: 45%; }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%; }
      .card__price-box {
        margin-bottom: 2rem; } }

.story {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 4rem 8rem;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  box-shadow: 1.2rem 2rem 6rem rgba(0, 0, 0, 0.1);
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: auto;
      padding: 4rem 3rem 8rem; } }
  @media (max-width: 37.5em) {
    .story {
      width: 90%;
      padding: 3.5rem 3.5rem 5rem; } }
  .story__avatar {
    position: relative;
    float: left;
    height: 15rem;
    width: 15rem;
    margin-right: 3rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    overflow: hidden; }
  .story__img {
    height: 100%;
    transition: all 0.5s;
    transform: translateX(-3rem) scale(1.2); }
  .story__img-c {
    transform: translateX(0rem) scale(1.2); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all 0.5s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    filter: blur(3px) brightness(85%);
    transform: translateX(-3rem) scale(1); }
  .story:hover .story__img-c {
    filter: blur(3px) brightness(85%);
    transform: translateX(0rem) scale(1); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  opacity: 0.2; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group {
  position: relative; }
  .form__group:not(:last-child) {
    margin-bottom: 3.5rem; }
  @media (max-width: 37.5em) {
    .form__group {
      display: flex;
      justify-content: center; } }

.form__input {
  display: block;
  width: 90%;
  padding: 1.2rem 1.6rem;
  font-family: inherit;
  font-size: 1.8rem;
  color: #000;
  border-radius: 3px;
  border: none;
  border-bottom: 4px solid transparent;
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .form__input {
      width: 80%; } }
  .form__input::placeholder {
    font-size: 1.6rem;
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.15);
    border-bottom: 4px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 4px solid rgba(211, 0, 0, 0.6); }

.form__label {
  display: inline-block;
  transition: all 0.3s;
  position: absolute;
  top: -2.5rem;
  left: 1.6rem;
  font-size: 1.4rem;
  font-weight: 700; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(4px); }

.form__radio-group {
  display: inline-block;
  width: 49%; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 46%; } }
  @media (max-width: 37.5em) {
    .form__radio-group:first-child {
      text-align: center; } }

.form__radio-label {
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 4rem;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .form__radio-label {
      font-size: 1.4rem; } }
  @media (max-width: 37.5em) {
    .form__radio-label {
      font-size: 1.8rem; } }

.form__radio-btn {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  border-radius: 50%;
  border: 5px solid #55c57a; }
  .form__radio-btn::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.3rem;
    height: 1.3rem;
    background-color: #55c57a;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s; }

.form__input-radio {
  display: none; }

.form__input-radio:checked + .form__radio-label .form__radio-btn::after {
  opacity: 1; }

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    z-index: 10000;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    display: table; }
  .popup__left {
    display: table-cell;
    width: 33.33333%; }
  .popup__right {
    display: table-cell;
    width: 66.66667%;
    vertical-align: middle;
    padding: 2.5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-rule: 1px solid #eee;
    -moz-column-rule: 1px solid #eee;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto; }
  .popup__close {
    display: inline-block;
    position: absolute;
    top: 0rem;
    right: 1.8rem;
    font-size: 5rem;
    text-decoration: none;
    line-height: 1;
    color: #333; }
    .popup__close:hover {
      cursor: pointer;
      color: #55c57a; }
