.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    position: fixed;
    top: 5.5rem;
    right: 5.5rem;
    height: 7rem;
    width: 7rem;
    text-align: center;
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.3);
    cursor: pointer;
    z-index: 2000;
  }

  &__background {
    position: fixed;
    top: 6rem;
    right: 6rem;
    height: 6rem;
    width: 6rem;
    background-image: radial-gradient($color-primary, $color-primary-dark);
    border-radius: 50%;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
  }

  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: -10%;
    opacity: 0;
    z-index: 1600;
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 3rem;
    text-align: center;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__link {
    display: inline-block;
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 300;
    background-image: linear-gradient(
      105deg,
      transparent 0%,
      transparent 50%,
      $color-white 50%
    );
    // Dùng để che background hover về hết góc bên phải
    background-size: 220%;
    transition: all 0.4s;
    span {
      margin-right: 1.2rem;
    }
  }

  &__link:hover {
    // Thuộc tính này đẩy phần background chạy từ phía phải về phía trái
    background-position: 100%;
    color: $color-primary-dark;
    transform: translateX(1rem);
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    left: 0;
    width: 100%;
  }

  &__icon {
    position: relative;
    top: 3.5rem;
    &,
    &::before,
    &::after {
      display: inline-block;
      height: 2px;
      width: 3rem;
      background-color: $color-grey-dark-3;
      transition: all 0.2s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked ~ &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  &__checkbox:checked ~ &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }

}
