@import "../abstracts/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Chuyển đổi px sang rem
    mà rem thì thay đổi theo font-size của thẻ root (ở đây chính là thẻ html) */
html {
  /* Mặc định các trình duyệt là 16px nên 62.5% = 10px */
  // Không nên nằm trong typography, vì nó định nghĩa 1rem tương ứng với bao nhiêu px
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  box-sizing: border-box;
}
