body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* Nghĩa là line height gấp 1.7 lần line height mặc định */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  margin-bottom: 3rem;
  color: $color-white;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-align: center;

    @include respond(tab-port) {
      font-size: 5rem;
      letter-spacing: 1.5rem;
    }

    animation-name: moveInLeft;
    animation-duration: 1s;
    /* ease-in: vào chậm ra nhanh, ease-out thì ngược lại */
    animation-timing-function: ease-in;
    -webkit-animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    /*
      // Số lần animation lặp lại 
        animation-iteration-count: 2;
      // Sau 2s thì animation mới thực hiện
        animation-delay: 2s;
   */

    /* Làm tránh những animation lỗi tự phát sinh ko mong muốn hiển thị đến người dùng */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &-grey {
      font-size: 4rem;
      letter-spacing: 1.8rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;

    @include respond(tab-port) {
      font-size: 1.8rem;
      letter-spacing: 1rem;
    }

    @include respond(tab-port) {
      font-size: 1.4rem;
      letter-spacing: 1rem;
    }

    animation: moveInRight 1s ease-in;
    -webkit-animation: moveInRight 1s ease-in;

    &-grey {
      letter-spacing: 0.1rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;

  @include respond(tab-port) {
    font-size: 2.5rem;
  }
  // Tạo ra một lớp background gradient
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  // Sau đó dùng -webkit-background-clip: text để phần background gradient nằm dưới đúng phần text
  -webkit-background-clip: text;
  // Để color: transparent để phần background bên dưới hiện lên
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    cursor: default;
    transform: scale(1.1);
    text-shadow: 0.2rem 2rem 1rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 900;
  text-transform: uppercase;
  word-spacing: 0.2rem;
}

.paragraph {
  font-size: $default-font-size;
  margin-bottom: 3rem;
}
