.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 15rem 0 22rem;
  }

  @include respond(phone) {
    padding: 20rem 0 22rem;
  }
}

.section-features {
  margin-top: -8rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);

  // Chọn những thằng con trực tiếp của cha, chứ ko chọn mấy thằng cháu (ở đây là thằng row)
  & > * {
    transform: skewY(7deg);
  }
  @include respond(tab-port) {
    padding: 12rem 0;
  }
}

.section-tours {
  margin-top: -8rem;
  padding: 25rem 0 1rem;
  background-color: $color-grey-light-1;
  @include respond(tab-port) {
    padding: 18rem 0 1rem;
  }
}

.section-stories {
  position: relative;
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 8rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  @include respond(tab-port) {
    padding: 8rem 0;
  }

  .book {
    // Solid color-gradient -> dùng 2 màu chạy trên một gradient
    // theo tỉ lệ phần trăm thì sẽ có một đường màu chặn giữa 2 màu đó
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 50%,
        transparent 50%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
    box-shadow: 0 1.2rem 3rem rgba($color: $color-black, $alpha: 0.4);

    &__form {
      padding: 6rem;
      width: 50%;
    }

    @include respond(phone) {
      background-image: linear-gradient(
          rgba($color-white, 0.8) 100%,
          transparent 50%
        ),
        url(../img/nat-10.jpg);
      background-size: cover;
      box-shadow: 0 1.2rem 3rem rgba($color: $color-black, $alpha: 0.4);

      &__form {
        text-align: center;
        padding: 6rem;
        width: 100%;
      }
    }
  }
}
