.body-hidden {
  overflow: hidden;
}
.container {
  height: 100vh;
  width: 100%;

  @include respond(tab-port) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    text-align: center;

    &__icon {
      color: red;
    }

    &__img {
      margin-left: 8rem;
      height: 35rem;
      animation-name: fadeIn;
      animation-duration: 1.2s;
      animation-timing-function: ease-in;
      animation-delay: 1s;
      animation-fill-mode: backwards;

      @include respond(tab-port) {
        margin-left: 0;
      }
    }
  }
}
